
body{
  margin: 0;
}

/* style for home  */

.background img{
  margin-top: 0;
  width: 100%;
  height: auto;
  position: fixed;
  top: 2vw;
  right: 1vw;
  z-index: -1;
}

.background img:hover{
  transform: scale(1);
}

#home{
  background-color: rgb(5, 84, 150,0.8);
  margin: 8vw 4vw;
}

.home_container{
  margin:4vw;
}

.home_header h1{
  font-size: 10vw;
  line-height: 14vw;
  padding: 4vw 2vw 1vw;
  color: rgb(245, 246, 230);
  letter-spacing: 1vw;
  margin: 0;
}

.sub_header{
  text-align: center;
  padding-bottom: 4vw;
}

.sub_header h2{
  color:rgb(241, 139, 137);
  color: rgb(241, 139, 137);
  margin-top: 0;
}

span{
  color:rgb(241, 139, 137);
  left: 2.5vw;
  top: 3vw;
  width: 2vw;
  height: 2vw;
}

/* side navigation */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 246, 230);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 2vw;
  text-decoration: none;
  font-size: 25px;
  color: rgb(5, 84, 150);
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color:rgb(0,0,0);
  transform: scale(1.05);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#menu img{
  width:15%;
  height:15%;
  margin: 1vw 2vw;
}
.nav_items a:hover{
  background-color:rgb(241, 139, 137);
}

.nav_items {
  margin-top: 1vw;
}

#navigation{
  position: fixed;
  top: 1vw;
}

/* the style for work section */

#works{
  background-color: rgb(245, 246, 230,0.8);
  margin:0 4vw;
}

.header {
  text-align: center;
}

.header h2{
  font-size: 6vw;
  color:rgb(5, 84, 150);
  padding: 4vw;
}

.work{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 4vw;
}

.works_header{
  background-color: rgb(5, 84, 150);
}

#project1_header{
  padding: 4vw 2vw;
}

.works_header h4{
  color: rgb(255,255,255);
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 2vw;
}

.works_header p{
  color: rgb(255,255,255);
  padding: 2vw;
  font-size: 1rem;
  margin: 0;
}

.button{
  text-align: center;
  padding: 2vw;
}

.works_detail video{
  width: 100%;
  height: auto;
  padding: 1vw;
}

.works_detail img{
  width: 80%;
  height: auto;
  padding: 0 0 2vw 8vw;
}

.works_header span{
  font-size: 1rem;
}






.button a:hover{
  color:white;
}
.button button{
  z-index: 1;
  color: rgb(255,255,255);
  background: rgb(241, 139, 137);
  padding: 0.5em 1em;
  width: 8vw;
}
.button button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  33% {
    transform: scale(0.9, 1.1);
  }

  66% {
    transform: scale(1.1, 0.9);
  }
}

#project1_header h4:hover{
  transform: scale(1.25);
  color:rgb(241, 139, 137);
}


.works_detail{
  background-color: rgb(241, 139, 137);
}


#project2_body {
  padding: 2vw;
}
#project2_body h4:hover{
  transform: scale(1.25);
  color:rgb(241, 139, 137);
}

.works_detail img:hover{
  transform: scale(1);
  color: white;
}

/* the sytle for contact section */

#contact{
  background-color: rgb(245, 246, 230,0.8);
  height: 65vw;
  margin: 4vw;
}

.contact_body{
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  top: 10vw;
  margin: 0 4vw;
}

.contact_infor{
  background-color: rgb(123, 167, 171);
  height: 49vw;
}
.contact_infor img{
  position: relative;
  text-align: center;
  left: 25%;
  width: 50%;
}
.contact_form{
  background-color: white;
}
.contact_icon{
  text-align: center;
}
.contact_infor h3{
  text-align: center;
  color:black;
}
.contact_header h4{
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-top: 2vw;
}
.contact_infor p{
  color: rgb(255,255,255);
  font-size: 1.25rem;
  line-height: 2.25vw;
  letter-spacing: 0.1rem;
  text-indent : 2rem;
  text-align: center;
}

#bar_button {
    padding-top: 0vw;
}

#bar_button form{
  background-color:transparent;
  position: relative;
  left: 15%;
}
.bar input{
  margin: 1vw;
  background: transparent;
}

.bar textarea{
  width: 28vw;
  height: 12vw;
  margin: 1vw
}

#bar_button button{
  position: absolute;
  top: 32vw;
  left: 21vw;
}

/* the style for ABOUT section */

#about{
  background-color: rgb(5, 84, 150,0.8);
  height: 60vw;
  margin: 4vw;
}

#about h2{
  color: rgb(245, 246, 230);
}

.about_text{
  position: relative;
  top: 10vw;
  margin: 0 8vw;
}

.about_text p{
  color: rgb(245, 246, 230);
  font-size: 1.25rem;
  line-height: 2.25vw;
  letter-spacing: 0.1rem;
  text-indent : 2rem;
}

.about_img img{
  width: 20%;
  height: 100%;
  position: relative;
  top: 10vw;
  left: 40%;
  margin-top: 0;
}

.about_img_icon {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 50%;
  position: relative;
  left: 25%;
}

.about_img_icon img{
  width: 4vw;
  height: 4vw;
  text-align: center;
  margin-top: 0;
}

/* the style for footer */

footer{
  background-color: rgb(5, 84, 150);
  height: -webkit-fill-available;
}

.footer_wrap{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: 0 2vw;
}

.footer_info{
  margin: 2vw 0 2vw 2vw;
}

.footer_link{
  text-align: center;
  margin: 2vw 0;
}

.footer_input{
  text-align: right;
  margin: 2vw 2vw 2vw 0;
}

.footer_link li{
  width:18%;
}

.footer_header h3{
  letter-spacing: 0.1rem;
  color:white;
  text-transform: uppercase;
}

.footer_detail {
  display: inline-flex;
}

.footer_body p{
  color:white;
  font-size: 1rem;
}

.footer_body a{
  color:rgb(241, 139, 137);
}

#button button:before{
  content:"SEND";
}

#button button {
    width: 4vw;
    height: 2vw;
    background-color: rgb(241,139,137);
}

.footer_body input{
  height: 2vw;
}


/* the style for project */

.header_image{
  text-align: center;
  position: relative;
  top: 5vw;
  opacity: 0.8;
}

.header_image img{
  width: 70%;
  height: 100%;
}

.project_header{
  position: relative;
  top: 2vw;

}

#project_wrap{
  background-color: rgb(255, 255, 255, 0.5);
}

.header_image:hover{
  opacity:1;
  transform: scale(1);
}

.header_text{
  position: relative;
  bottom: 30vw;
  text-align: center;
  color: rgb(0,0,0);
}

.header_text h1{
  font-size: 3rem;
  position: relative;
  top: 10vw;
}

.header_text a{
  font-size: 2rem;
  color: rgb(255,255,255);
}



.project_body{
  display: block;
  text-align: center;
  margin: 0 10vw 10vw 10vw;
  position: relative;
  background-color: rgb(30,73,76);
  height: 150vw;
}

.project_body h2,p,h3{
  color: white;
}

#project_detail {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  padding: 0 4vw;
}

.title{
  padding-top: 1vw;
}
.title{
  text-align: center;
}
.project_body p{
  text-align: left;
}

.project_main video {
  width: 100%;
  height: 100%;
}

.project_text{
  padding: 2vw;
  background-color: rgb(241, 139, 137);
}

.project_main{
  padding: 2vw;
  background-color: rgb(255,255,255);
}

.video_item video{
  width: 100%;
  height: 100%;
}

.body p{
  padding: 0 2vw;
}

.project-imgs{
  display: inline-flex;
}
.project-imgs img{
  width: 35%;
  height: 20%;
}


/* responsive for mobile drive*/
/* @media screen and (max-width: 1100px) {

  .works_detail video {
    height: auto;
    padding-top: 1vw;
  }

  .works_detail img {
    height: 70%;
    top: 2vw;
    margin: 2vw;
  }

  .about_text p {
    font-size: 1rem;
    line-height: 2vw;
  }

  .contact_infor p {
    font-size: 1rem;
  }
  .works_header h4 {
    font-size: 1.75rem;
  }

  .project_body{
    height: 155vw;
  }
} */



/*
@media (max-width: 1024px){
  .home_body {
    position: relative;
    bottom: 4vw;
  }

  #works {
    height: 74vw;
  }

  .works_header h4 {
    font-size: 1.5rem;
  }

  .works_detail video {
    padding-top: 1.5vw;
  }

  .works_detail img {
    top: 2.5vw;
  }

  #home {
    height: 40vw;
  }

  #bar_button {
    padding-top: 0;
  }

  footer {
    height: -webkit-fill-available;
  }

  .header_text h1 {
    top: 4vw;
  }

  .header_text h2 {
    margin-top: 5vw;
    position: relative;
    top: 4vw;
  }

  .project_body {
    height: 160vw;
  }
} */

/* @media screen and (max-width: 978px) {

  .home_body {
    bottom: 4vw;
    left: 2%;
  }

  .works_detail video {
    height: 88%;
    padding-top: 0vw;
  }

  #works {
    height: 75vw;
  }

  #about {
    height: 62vw;
  }
} */

/* @media (max-width: 768px){

  .sub_header h2 {
    bottom: 5vw;
    font-size: 1rem;
  }

  .sidenav a {
    padding: 4vw;
  }

  .home_body {
    bottom: 5vw;
  }

  #works {
    height: 78vw;
  }

  .about_text p {
    line-height: 2.5vw;
    letter-spacing: 0;
  }

  .about_text {
    margin: 0 4vw;
  }


  #about {
    height: 68vw;
  }

  .works_header h4 {
    font-size: 1rem;
    padding-top: 0vw;
  }

  .works_header p {
    color: rgb(255,255,255);
    padding: 0 2vw 2vw;
    font-size: 0.5rem;
  }

  .about_img img {
    top: 10vw;
  }

  #contact {
    height: 75vw;
  }

  .contact_body {
    top: 10vw;
  }

  .contact_infor p {
    font-size: 0.75rem;
    letter-spacing: 0;
  }

  .contact_infor h3 {
    margin: 0.5vw;
    text-align: center;
    font-size: 0.75rem;
  }

  .contact_infor {
    height: 55vw;
  }

  .contact_icon {
    top: 2vw;
  }

  .footer_body p{
    font-size: 0.5rem;
  }

  .footer_body li {
    display: grid;
    position: relative;
    left: 40%;
  }

  .footer_detail {
    display: block;
  }

  #button button {
    width: 6vw;
  }

  .header_text h1 {
    font-size: 2rem;
  }

  .header_text h2 {
    margin-top: 5vw;
    font-size: 1rem;
    top: 2vw;
  }

  .project_body {
    height: 206vw;
  }
} */

/* PC responsive*/

/* @media screen and (max-width: 520px) {

  #menu img {
    width: 10%;
    height: 10%;
  }

  .sidenav a {
    padding: 6vw;
  }

  .home_header h1 {
    line-height: 12vw;
  }

  .sub_header h2 {
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
  }

  .works_header p {
    line-height: 1rem;
    margin: 0;
  }

  .works_header span {
    font-size: 0.1rem;
  }

  .button {
    bottom: 1vw;
    margin-bottom: 2vw;
  }

  .button button {
    width: 12vw;
  }

  .works_detail video {
    height: 82%;
  }

  .works_detail img {
    width: 70%;
    left: 10%;
    top: 4.5vw;
  }

  .works_header h4{
    font-size: 0.75rem;
  }

  #works {
    height: 105vw;
  }

  .about_text p {
    font-size: 0.75rem;
    text-indent: 1rem;
  }

  #about {
    height: 74vw;
  }

  .about_img img {
    top: 10vw;
  }

  .contact_infor h3 {
    margin: 0.25vw;
    text-align: center;
  }

  .contact_infor {
    height: 65vw;
  }

  #contact {
    height: 85vw;
  }

  .contact_infor p {
    text-indent: 0;
    line-height: 1rem;
  }

  .contact_infor img {
    bottom: 2vw;
    margin-top: 0;
  }

  #bar_button button {
    left: 18vw;
  }

  #bar_button form {
    top: 4vw;
  }

  #bar_button button {
    width: 11vw;
    height: 6vw;
  }

  .contact_header h4 {
    font-size: 1rem;
  }

  #button button {
    width: 10vw;
    height: 6vw;
  }

  .footer_body input {
    height: 4vw;
  }

  #button{
    margin-top: 2vw;
  }

  .header_text h1 {
    font-size: 1.5rem;
  }

  .header_text a {
    font-size: 1rem;
    position: relative;
    bottom: 4vw;
  }

  .project_body {
    height: 340vw;
    position: relative;
    bottom: 4vw;
  }

  .body h3{
    font-size: 0.75rem;
  }

  .body p{
    font-size: 0.5rem;
  }
}


@media (max-width: 414px){

  .home_header h1 {
    line-height: 11vw;
    font-size: 8vw;
    left: 10%;
  }
  .sub_header h2 {
    font-size: 0.5rem;
    letter-spacing: 0.15rem;
    bottom: 4vw;
  }

  .home_body {
    bottom: 6vw;
  }

  #project1_header {
    position: relative;
  }

  #project1_body {
    position: relative;
    bottom: 2vw;
  }

  .button {
    bottom: 3vw;
    padding-bottom: 2vw;
  }

  #project2_body {
    position: relative;
    bottom: 40vw;
  }

  #project2_header{
    position: relative;
    top: 55vw;
  }

  .works_detail img {
    width: 40%;
    height: 50%;
    left: 0;
    top: 0;
    padding: 2vw 0;
  }

  .work {
    display: block;
  }

  #works {
    height: 220vw;
  }

  .works_header p {
    padding: 0 4vw 5vw;
  }

  .works_header h4{
    font-size: 1rem;
  }

  .works_detail {
    background-color:rgb(255, 255, 255);
    text-align: center;
  }

  .about_img img {
    top: 8vw;
  }

  .about_text p {
    font-size: 0.5rem;
    line-height: 3vw;
  }

  #about {
    height: 90vw;
  }

  #contact {
  height: 145vw;
  }

  .contact_infor {
    height: 65vw;
  }

  .contact_header h4 {
    font-size: .5rem;
  }

  .contact_body {
    display: block;
  }

  .contact_infor img {
    left: 40%;
    width: 20%;
  }

  #bar_button form {
    top: 0;
  }

  .contact_form {
    position: relative;
    bottom: 6vw;
    height: 55vw;
  }

  #input_subject {
    width: 59vw;
  }

  #message {
    width: 59vw;
    height: 20vw;
  }

  #bar_button button {
    width: 20vw;
    position: relative;
    left: 25%;
    top: 0;
  }

  .footer_wrap {
    display: block;
    margin: 6vw;
  }

  .footer_header{
    margin-top: 4vw;
  }

  .footer_info {
    position: relative;
    top: 4vw;
  }

  .footer_link {
    text-align: left;
    position: relative;
    top: 4vw;
  }

  .footer_body li {
    display: inline-block;
    position: static;
    text-align: left;
  }

  .footer_input {
    top: 4vw;
    text-align: left;
    margin-top: 0;
    position: relative;
  }

  .footer_body input {
    height: 6vw;
  }

  #button button {
    width: 16vw;
    height: 6vw;
  }

  .header_text h1 {
    font-size: 1rem;
  }

  .header_text a {
    font-size: 0.5rem;
    color: rgb(5, 84, 150);
    position: relative;
    bottom: 6vw;
  }
  .project_body h2{
    font-size: 1rem;
  }
  #project_detail {
    display: block;
  }

  .project_body {
    height: 520vw;
    position: relative;
    bottom: 10vw;
  }

  footer {
    height:70vw;
  }

  .footer_header h3{
    margin-bottom: 0;
  }
}

@media (max-width: 375px){

  .button button {
    width: 18vw;
  }

  #works {
    height: 230vw;
  }
  .works_header {
    height: 55vw;
  }

  .works_header {
    background-color: rgb(5, 84, 150);
    height: 55vw;
  }

  .works_detail img {
    top: 2vw;
  }

  .about_text p {
    line-height: 3.5vw;
  }

  #about {
    height: 100vw;
  }

  .contact_icon {
    display: none;
  }

  .contact_header h4 {
    padding-top: 6vw;
  }

  #contact {
    height: 160vw;
  }

  .contact_form {
    height: 65vw
  }

  footer {
    height: 110vw;
  }

  .footer_body li {
    display: block;
  }

  .project_body {
    height: 540vw;

  }
}

@media (max-width: 320px){
  .home_header h1 {
    font-size: 8vw;
    line-height: 10vw;
    left: 10%;
  }
  #home {
    height: 40vw;
  }

  .works_header h4 {
    margin-top: 1vw;
  }

  .works_header {
    height: 60vw;
  }

  #project2_header {
    top: 63vw;
  }
  #works {
    height: 240vw;
  }
  #about {
    height: 110vw;
  }
  .contact_infor {
    height: 70vw;
  }

  #contact {
    height: 175vw;
  }
  .bar input {
    height: 8vw;
  }

  .contact_form {
    height: 75vw;
  }

  .footer_body{
    position: relative;
    bottom: 4vw;
  }
  footer {
    height: 130vw;
  }

  .footer_header h3 {
    margin-bottom: 4vw;
  }

  .sidenav a {
    padding: 8vw;
  }
} */
