/* style for home  */

.logo{
  border:2px solid white;
}

.logo h1{
  font-size: 1.15rem;
}

#home_nav{
  margin-top: 5vw;
  position: relative;
  top: 10vw;
  left: 10%;
  right: 10%;
}

.about-items h1{
  font-size: 10vw;
  line-height: 10rem;
  position: relative;
  top: 8vw;
  left: 5%;
  color:RGB(5, 84, 150);
  letter-spacing: 1vw;
}

span{
  color:RGB(241, 139, 137);
}

.about-items h2{
  position: relative;
  top: 8vw;
  left: 5%;
  font-size: 2vw;
  color:RGB(5, 84, 150);
}

.social-element{
  margin-top: 14vw;
  margin-left: 25vw;
}


.infor{
  text-align: center;
  margin-top: 4vw;
}

.infor h4{
  color:RGB(5, 84, 150);
}




/* the style for work section */




#nav_others{
  text-align: center;
  margin-top: 5vw;
}

#works_items{
  margin-top: 10vw;
}

.work{
  display: inline-flex;
  justify-content:center;
  position: relative;
  left: 15%;
  right: 15%;
  margin-bottom: 5vw;
}

.works_header{
  width: 50%;
}

.works_body{
  width:100%;
  height: 100%;
  margin-left: 2vw;
}

.works_body video{
  width:100%;
}
